#srv Working
app/documents/*
fiori/documents/*
app/services.cds
.gitignore
app/services.cds
app/documenthistory
.gitignore


# CAP airindia-poc
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/
resources/
dist/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
test*

